#Mon Apr 18 10:39:09 ICT 2022
aws_secret_access_key=NidK/U8Rjs5fxYYuyHg0ZO5r5EqD6B8/YqyGYJV5
aws_url_return_img_path=auto-test-web-output/img/
aws_access_key_id=AKIA5R4DTE6KGNNHOHVJ
aws_namecard_bucket=sbh-qc
aws_url_return_env_path=auto-test-web-output/
aws_url_return_log_path=auto-test-web-output/log/
aws_url_return_prefix=https://sbh-qc.s3.ap-southeast-1.amazonaws.com/